[submodule "pack/bkad/start/CamelCaseMotion"]
	path = pack/bkad/start/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "pack/bkad/start/vim-terraform"]
	path = pack/bkad/start/vim-terraform
	url = git@github.com:bkad/vim-terraform.git
[submodule "pack/bkad/start/vim-fugitive"]
	path = pack/bkad/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/bkad/start/nerdcommenter"]
	path = pack/bkad/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "pack/bkad/start/MatchTag"]
	path = pack/bkad/start/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "pack/bkad/start/python-syntax"]
	path = pack/bkad/start/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "pack/bkad/start/vim-snipmate"]
	path = pack/bkad/start/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "pack/bkad/start/vim-surround"]
	path = pack/bkad/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/bkad/start/vim-syntax-vcl"]
	path = pack/bkad/start/vim-syntax-vcl
	url = git@github.com:pld-linux/vim-syntax-vcl.git
[submodule "pack/bkad/start/vim-repeat"]
	path = pack/bkad/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/bkad/start/tlib_vim"]
	path = pack/bkad/start/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "pack/bkad/start/yats"]
	path = pack/bkad/start/yats
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule "pack/bkad/start/vim-addon-mw-utils"]
	path = pack/bkad/start/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "pack/bkad/start/coffee-script"]
	path = pack/bkad/start/coffee-script
	url = git@github.com:bkad/vim-coffee-script.git
[submodule "pack/bkad/start/vim-go"]
	path = pack/bkad/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/bkad/start/vim-go-templates"]
	path = pack/bkad/start/vim-go-templates
	url = git@github.com:cespare/vim-go-templates.git
[submodule "pack/bkad/start/vim-indent-guides"]
	path = pack/bkad/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "pack/bkad/start/vim-js-indent"]
	path = pack/bkad/start/vim-js-indent
	url = git@github.com:jason0x43/vim-js-indent.git
[submodule "pack/bkad/start/vim-markdown"]
	path = pack/bkad/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/bkad/start/vim-multiple-cursors"]
	path = pack/bkad/start/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "pack/bkad/start/vim-toml"]
	path = pack/bkad/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "pack/bkad/start/editorconfig"]
	path = pack/bkad/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "pack/bkad/start/fzf"]
	path = pack/bkad/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/bkad/start/ropevim"]
	path = pack/bkad/start/ropevim
	url = https://github.com/python-rope/ropevim
[submodule "pack/bkad/start/nvim-lspconfig"]
	path = pack/bkad/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/bkad/start/popup.nvim"]
	path = pack/bkad/start/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim.git
[submodule "pack/bkad/start/plenary.nvim"]
	path = pack/bkad/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/bkad/start/telescope.nvim"]
	path = pack/bkad/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/bkad/start/telescope-fzf-native.nvim"]
	path = pack/bkad/start/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim.git
[submodule "pack/bkad/start/nvim-compe"]
	path = pack/bkad/start/nvim-compe
	url = git@github.com:hrsh7th/nvim-compe.git
